qiskit[visualization]>=1.0 # this will install qiskit and visualization required packages
qiskit-ibm-runtime>=0.32.0
qiskit-aer
qiskit-ibm-transpiler
qiskit-serverless
qiskit-ibm-catalog
networkx
colorama
jupyter
