qiskit[visualization]>=1.0 # this will install qiskit and visualization required packages
qiskit-ibm-runtime
qiskit-aer
qiskit-ibm-transpiler
networkx
colorama
qiskit_serverless
qiskit_addon_utils
qiskit_addon_obp
qiskit_addon_sqd
qiskit_ibm_catalog
networkx
colorama
jupyter